body {
  box-sizing: border-box;
}

header {
  background-color: #4174A6;
  margin: 0;
  width: 100%;
  padding: 10px;
}

h1 {
  padding: 10px;
  font-size: 3em;
  margin: 0;
  color: #ECEEEF;
  float: left;
}

#tagline {
  color: #ECEEEF;
  margin: 10px;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 10px;
}

nav a {
  color: #F2918D;
  text-decoration: none;
}
