<form class="add-item-form" action="/users/<%= @user.id %>/list_items" method="post">
  <label for="keywords">Keywords:</label>
  <input type="text" name="keywords">
  <input type="submit" value="Add it to the list">
</form>
