<h1>Goodwillist</h1>

<p id="tagline">You've got a shopping list. Find out when Goodwill is selling the things on your list, and support job training and education.</p>

<nav>
  <ul id="nav">
    <% if session[:user_id] %>
    <li><%= erb :'/sessions/_logout', layout: false %></li>
    <% else %>
      <li><a href="/users/new">Create an Account</a></li>
      <li><a href="/sessions/new">Login</a></li>
    <% end %>
  </ul>
</nav>
